// Custom Theming for Angular Material
@use '~@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "app/navbar/navbar-theme";
@import "app/footer/footer-theme";
@import "app/home/home-theme";
@import "app/address/address-theme";
@import "app/confirm/confirmation-theme";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wedding-web-app-primary: mat.define-palette(mat.$cyan-palette);
$wedding-web-app-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);
$wedding-web-app-background: mat.define-palette(mat.$grey-palette);

// The warn palette is optional (defaults to red).
$wedding-web-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$wedding-web-app-theme: mat.define-light-theme($wedding-web-app-primary, $wedding-web-app-accent, $wedding-web-app-warn);

// $background: map-get($wedding-web-app-theme, $key: background);
// $background: map_merge($background, (background: #03dac6));
// $wedding-web-app-theme: map_merge($wedding-web-app-theme, (background: $background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($wedding-web-app-theme);
@include navbar-theme($wedding-web-app-theme);
@include footer-theme($wedding-web-app-theme);
@include home-theme($wedding-web-app-theme);
@include address-theme($wedding-web-app-theme);
@include confirmation-theme($wedding-web-app-theme);

@font-face {
  font-family: "Magnolia-Script";
  font-style: normal;
  font-weight: normal;
  src: local("Magnolia-Script"), url("./assets/magnoliaScript.otf") format("opentype");
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Magnolia-Script";
  background-image: url("./assets/side_flipped.png"), url("./assets/side.png"), url("./assets/background.png");
  background-position: left, right, left top;
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 550px, 550px, 100%;

  .text-center{
    text-align: center;
  }
}

h1,
h2 {
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 1em;
}

@media (max-width: 1200px) {
  body {
    background-image: url("./assets/background.png");
    background-position: left top;
    background-repeat: repeat;
    background-size: 100%;
  }
}
