<div class="contact-container">
    <div class="contact-item header">
        <h1>Kontakt</h1>
    </div>

    <div class="contact-item person">
        <p><b>Paulina</b> - <a href="tel:+48515235554">515 235 554</a></p>
        <a href="mailto:bejgierp@gmail.com">bejgierp@gmail.com</a>
    </div>
    
    <div class="contact-item person">
        <p><b>Michał</b> - <a href="tel:+48501276327">501 276 327</a></p>
        <a href="mailto:m.borucinski@gmail.com">m.borucinski@gmail.com</a>
    </div>
</div>