@mixin home-theme ($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-home > div > h1, h2 {
        color: mat-color($foreground, default-contrast);
    }

    app-home {
        .home-body-text {
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
    }
}

