@mixin home-theme ($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-home {
        background-image: url(assets/backgroundImage.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    app-home > div > h1, h2 {
        color: mat-color($primary, default-contrast);
    }
}

