@font-face {
    font-family: 'Magnolia-Script';
    font-style: normal;
    font-weight: normal;
    src: local('Magnolia-Script'), url('magnoliaScript.otf') format('opentype');
}

h1 {
    font-family: 'Magnolia-Script';
    font-weight:normal;
    font-size:42px;
}
