<div class="home-header">
    <h1>Witajcie na naszej stronie ślubnej!</h1>
    
    <div class="home-photo">
        <img src="../../assets/IMG_4910.jpg" alt="Paulina & Michał & Kreska">
    </div>
    
    <div class="home-body-text">
        <p>
            Będziemy zamieszczać tu przydatne informacje o ślubie i miejscu wesela, aby pomóc Ci w
            pełni ułatwić przybycie.
        </p>
        <p>
            Zabierz ze sobą wygodne buty, aby bawić się z nami do białego rana :)
        </p>
        <p>Czekamy na Ciebie!</p>
    </div>

    <div class="home-countdown">
        <div>
            <p class="home-countdown-label">Do zobaczenia za:</p>
        </div>

        <div class="home-countdown-container">
            <div class="home-countdown-container-column">
                <div>
                    <p>Dni</p>
                </div>
                <div>
                    <p>{{ timeLeft.days }}</p>
                </div>
            </div>
            <div class="home-countdown-container-column">
                <div>
                    <p>Godziny</p>
                </div>
                <div>
                    <p>{{ timeLeft.hours }}</p>
                </div>
            </div>
            <div class="home-countdown-container-column">
                <div>
                    <p>Minuty</p>
                </div>
                <div>
                    <p>{{ timeLeft.minutes}}</p>
                </div>
            </div>
            <div class="home-countdown-container-column">
                <div>
                    <p>Sekundy</p>
                </div>
                <div>
                    <p>{{ timeLeft.seconds }}</p>
                </div>
            </div>
        </div>
    </div>

  
    <div class="home-photo-logo">
        <img src="../../assets/PaulinaMichal.png" alt="Paulina & Michał logo">
    </div>
</div>