@use '@angular/material' as mat;
@mixin confirmation-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $warn: map-get($theme, warn);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    .snackbar-success {
        background-color: mat.get-color-from-palette($background, status-bar);
        color: mat.get-color-from-palette($foreground, base);
        
        button {
            color: mat.get-color-from-palette($foreground, base);
        }
    }

    .snackbar-error {
        background-color: mat.get-color-from-palette($warn);
        color: mat.get-color-from-palette($warn, default-contrast);

        button {
            color: mat.get-color-from-palette($warn, default-contrast);
        }
    }
}
