.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .address-header,
  .address-body {
    flex: 1;
    text-align: center;
  }

  .address-body {
    display: flex;
    flex-flow: column;

    .row {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;

      .square {
        display: flex;
        flex: 1;
        width: 450px;
        height: 450px;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        p {
          font-size: 20px;
          margin: 0;

          &.title {
            font-size: 25px;
          }

          &.bottom-margin {
            margin-bottom: 30px;
          }
        }
        img {
          max-width: 100%;
        }

        &.map > iframe {
          width: 400px;
          height: 400px;
          border: 0;
        }
      }
    }

    @media (max-width: 720px) {
      .row {
        flex-flow: column wrap;

        .square {
          margin-top: 16px;
          width: 350px;
          height: 350px;

          &.church {
            order: 1;
          }
          &.church.map {
            order: 2;
          }

          &.dance.map {
            order: 4;
          }

          &.dance {
            order: 3;
          }

          &.map > iframe {
            width: 300px;
            height: 300px;
          }
        }
      }
    }

    @media (max-width: 450px) {
      .row {
        .square {
          width: 250px;
          height: 250px;

          &.map > iframe {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}
