@mixin navbar-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    app-navbar {
        .navbar-header {
            color: mat-color($foreground, base);
            background-color: mat-color($background, app-bar);
        }

        .navbar-button {
            font-family: "Magnolia-Script";
        }
    }
}
