.navbar-header {
    display: flex;
    align-content: center;
    padding: 8px;

    .navbar-button {
        margin: 0 16px;
        font-size: 18px;

        .home-image {
            height: 100%;
            max-height: 64px;
        }
    }

    .flex-spacer {
        flex-grow: 1;
    }
}

.navbar-link {
    flex: 1;
    font-size: 12px;
    text-align: center;
}

.navbar-show-small {
    display: none;
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
    .navbar-hide-small {
        display: none;
    }

    .navbar-show-small {
        display: block;
    }

    .navbar {
        display: flex;
        flex-flow: wrap;
        padding: 8px 16px;
        align-content: center;
    }

    .navbar-button {
        flex: 1;
    }
}

@media (max-width: 400px) {
   
    .navbar {
        flex-flow: column wrap;
    }

    .navbar-link {
        font-size: 15px;
    }
}