@mixin address-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-address {
    .square > p:not(.title) {
      font-family: "Abhaya Libre", serif;
    }
  }
}
