.address-container {
  display: flex;
  flex-direction: column;

  .address-header {
    font-size: 30px;
    margin: auto;
  }

  .address-body {
    margin: auto;
    display: flex;

    .address-column {
      display: flex;
      border-style: solid;
      border-width: 0;
      border-color: white;
      width: 450px;
      height: 450px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      > p {
        &:first-of-type {
          font-size: 25px;
        }

        font-size: 20px;
        margin: 0 0 0 0;
      }

      > img {
        height: auto;
      }

      %p-lastOfType {
        margin: 0 0 30px 0;
      }

      &.church {
        > img {
          width: 200px;
        }

        > p:last-of-type {
          @extend %p-lastOfType;
        }
      }

      &.dance {
        > img {
          width: 300px;
        }

        > p:last-of-type {
          @extend %p-lastOfType;
        }
      }

      &.map > iframe {
        width: 400px;
        height: 400px;
        border: 0;
      }
    }
  }
}
