@use '~@angular/material' as mat;
@mixin footer-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
  
    app-footer {
        .footer-header{
            background: transparent;
            color: mat.get-color-from-palette($foreground, default-contrast);
        }   
    }
}