app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
}

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

app-footer {
    z-index: 2;
}

app-root > app-home,
app-root > app-address,
app-root > app-contact,
app-root > app-confirm {
    overflow-y: auto;
    height: 100%;
    padding-top: 30px;
}

@media (max-width: 720px) {
    app-root {
        top: 124px;
    }

    app-root > app-home,
    app-root > app-address,
    app-root > app-contact,
    app-root > app-confirm {
        overflow-y: visible;
    }
    app-root > app-footer {
        display: none;
    }
}

@media (max-width: 450px) {
    app-root {
        top: 196px;
    }
}
