:host {
  display: flex;
  margin: auto;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  mat-form-field,
  app-guest-number,
  .item {
    padding: 0 8px 0 8px;
    flex-grow: 1;
  }

  .confirmation-form {
    display: flex;
    flex-flow: column wrap;

    .confirmation-form-header {
      display: flex;
      flex-flow: row wrap;
    }

    .confirmation-form-repeat-row {
      display: flex;
      flex-flow: row wrap;
    }

    .confirmation-form-footer {
      display: flex;
      flex-flow: column wrap;

      > button {
        margin: 0 8px 0 8px;
      }
    }
  }
}
