<div class="confirm-container">
    <div class="container-header">
        <h1>Potwierdź swoją obecność</h1>
    </div>
    <div class="container-body">
        <mat-card>
            <form class="confirmation-form" #confirmationForm="ngForm" (ngSubmit)="handleFormSubmit(confirmationForm)">
                <div class="confirmation-form-header">
                    <mat-form-field appearance="legacy" class="full-width">
                        <input matInput ngModel name="email" type="email" placeholder="Podaj email"
                            required>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Podaj prawidłowy email.
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email jest wymagany.
                        </mat-error>
                    </mat-form-field>
                    <app-guest-number (guestNumberEmitter)="createGuestsArray($event)"></app-guest-number>
                </div>
                <div class="confirmation-form-repeat-row" *ngFor="let guest of guestArray">
                    <mat-form-field appearance="standard" class="full-width">
                        <input matInput name="imie" ngModel placeholder="Podaj imię" [errorStateMatcher]="matcher">
                    </mat-form-field>
                    <mat-form-field appearance="standard" class="full-width">
                        <input matInput placeholder="Podaj nazwisko" [errorStateMatcher]="matcher">
                    </mat-form-field>
                </div>
                <div class="confirmation-footer">
                    <mat-form-field appearance="legacy" class="full-width">
                        <textarea matInput placeholder="Informacje dodatkowe."></textarea>
                    </mat-form-field>
                    <button mat-stroked-button type="submit" [disabled]="confirmationForm.invalid">Wyślij</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>