:host {
    display: flex;
    margin: auto;
}

.contact-container {
    display: flex;
    flex-direction: column;

    .contact-item {
        text-align: center;

        &.header {
            font-size: 30px;
        }

        &.person {
            font-size: 25px;
        }
    }
}
