<nav>
    <mat-toolbar class="navbar-header">
        <a mat-button class="navbar-button home" [routerLink]="['/']">
            <img class="home-image" src="../../assets/PaulinaMichal.gif">
        </a>

        <div class="flex-spacer"></div>

        <a mat-button class="navbar-button" [routerLink]="['/confirm']">Potwierdź obecność</a>
        <a mat-button class="navbar-button" [routerLink]="['/adress']">Mapka dojazdowa</a>
        <a mat-button class="navbar-button" [routerLink]="['/contact']" routerLinkActive="active">Kontakt</a>
    </mat-toolbar>
</nav>