.contact-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .contact-item {
        text-align: center;

        &.header {
            font-size: 30px;
        }

        &.person {
            font-size: 25px;
        }
    }
}
