:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.adress-container {
  margin-top: 200px;

  .adress-header {
    font-size: 30px;
    text-align: center;
  }

  .adress-body {
    display: flex;

    .adress-column {
      display: flex;
      border-style: solid;
      border-width: 0;
      border-color: white;
      width: 503px;
      height: 503px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      > p {
        font-size: 25px;
        margin: 0 0 0 0;
      }

      > img {
        width: 400px;
        height: auto;
      }

      &.church > img {
        width: 300px;
      }

      &.dance,
      &.church {
        > p:last-of-type {
          margin: 0 0 30px 0;
        }
      }
    }
  }
}
