<div class="adress-container">
    <div class="adress-header">
        <h1>Mapka dojazdowa</h1>
    </div>

    <div class="adress-body">
        <div>
            <div class="adress-column church">
                <p class="magnolia">Kościół</p>
                <p>pw. św. Apostołów Jana i Pawła</p>
                <p>Warszawa - Gocław</p>
                <img src="../../assets/church.png" alt="church">
            </div>
            <div class="adress-column map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2441.988923491981!2d20.49926141620609!3d52.26174617976619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4719531ed4469ae5%3A0x32634eeca84a0ca9!2sDw%C3%B3r%20pod%20Kasztanowcami!5e0!3m2!1spl!2spl!4v1578083300380!5m2!1spl!2spl">
                </iframe>
            </div>
        </div>
        <div>
            <div class="adress-column map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.754613027223!2d21.083061116205187!3d52.229675879760194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eccf307a4ec4f%3A0xfea8e625a047bed4!2zS2_Fm2Npw7PFgiBwdy4gxZt3LiBBcG9zdG_FgsOzdyBKYW5hIGkgUGF3xYJh!5e0!3m2!1spl!2spl!4v1578083540370!5m2!1spl!2spl">
                </iframe>
            </div>
            <div class="adress-column dance">
                <p>Sala weselna</p>
                <p>Dwór pod Kasztanowcami</p>
                <p>Wiejca</p>
                <img src="../../assets/dance.png" alt="dance">
            </div>
        </div>
    </div>
</div>