<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="RedirectAll" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="/" />
        </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>