.home-container {
    display: flex;
    flex-direction: column;

    .home-header,
    .home-photo,
    .home-photo-logo,
    .home-body-text {
        flex: 1;
        text-align: center;
    }

    .home-photo > img,
    .home-photo-logo > img {
        max-width: 100%;
    }

    .home-body-text,
    .home-countdown-label {
        font-size: 20px;
        text-align: center;
    }

    .home-countdown-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        font-size: 20px;

        .home-countdown-container-column {
            margin: 8px;
        }
    }
}
